In [80]:
import requests
import lxml.html as lh
import pandas as pd

### 2000

In [81]:
url='https://www.sports-reference.com/cfb/years/2000-receiving.html'
#Create a handle, page, to handle the contents of the website
page = requests.get(url)
#Store the contents of the website under doc
doc = lh.fromstring(page.content)
#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')

In [82]:
tr_elements = doc.xpath('//tr')
#Create empty list
col=[]
i=0
#For each row, store each first element (header) and an empty list
for t in tr_elements[1]:
    i+=1
    name=t.text_content()
    print ('%d:"%s"'%(i,name))
    col.append((name,[]))

1:"Rk"
2:"Player"
3:"School"
4:"Conf"
5:"G"
6:"Rec"
7:"Yds"
8:"Avg"
9:"TD"
10:"Att"
11:"Yds"
12:"Avg"
13:"TD"
14:"Plays"
15:"Yds"
16:"Avg"
17:"TD"

In [83]:
#Since out first row is the header, data is stored on the second row onwards
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 10, the //tr data is not from our table 
    if len(T)!=17:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [84]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)
df

,Rk,Player,School,Conf,G,Rec,Yds,Avg,TD,Att,Plays
0,Rk,Player,School,Conf,G,Rec,Yds,Avg,TD,Att,Plays
1,1,Derrick Lewis,San Diego State,MWC,11,31,802,23.6,3,3,34
2,2,Robert Prescott*,Oregon State,Pac-10,9,28,668,23.0,4,1,29
3,3,Chad Johnson*,Oregon State,Pac-10,12,37,801,20.5,8,2,39
4,4,Marcellus Harris,East Carolina,CUSA,10,23,568,19.6,5,6,29
...,...,...,...,...,...,...,...,...,...,...,...
387,369,Jacquis Walker,Arkansas State,Big West,11,25,323,6.1,4,28,53
388,370,Jameel Cook,Illinois,Big Ten,10,34,433,5.2,1,49,83
389,371,Duane Epperson,Duke,ACC,11,23,546,4.1,0,111,134
390,372,Shaud Williams,Texas Tech,Big 12,12,48,522,5.1,2,55,103
391,373,Ricky Williams,Texas Tech,Big 12,12,52,649,3.6,7,127,179

In [85]:
df_new=df.drop(columns = 'Rk')

In [86]:
df_new=df_new.drop(0)
df_new

,Player,School,Conf,G,Rec,Yds,Avg,TD,Att,Plays
1,Derrick Lewis,San Diego State,MWC,11,31,802,23.6,3,3,34
2,Robert Prescott*,Oregon State,Pac-10,9,28,668,23.0,4,1,29
3,Chad Johnson*,Oregon State,Pac-10,12,37,801,20.5,8,2,39
4,Marcellus Harris,East Carolina,CUSA,10,23,568,19.6,5,6,29
5,Snoop Minnis,Florida State,ACC,12,63,1340,21.3,11,,63
...,...,...,...,...,...,...,...,...,...,...
387,Jacquis Walker,Arkansas State,Big West,11,25,323,6.1,4,28,53
388,Jameel Cook,Illinois,Big Ten,10,34,433,5.2,1,49,83
389,Duane Epperson,Duke,ACC,11,23,546,4.1,0,111,134
390,Shaud Williams,Texas Tech,Big 12,12,48,522,5.1,2,55,103
391,Ricky Williams,Texas Tech,Big 12,12,52,649,3.6,7,127,179

In [87]:
df_new['Player'] = df_new['Player'].str.replace('*', '')
df_new = df_new[df_new['Player'] != 'Player']

df_new

<ipython-input-87-8c6faff15222>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df_new['Player'] = df_new['Player'].str.replace('*', '')

,Player,School,Conf,G,Rec,Yds,Avg,TD,Att,Plays
1,Derrick Lewis,San Diego State,MWC,11,31,802,23.6,3,3,34
2,Robert Prescott,Oregon State,Pac-10,9,28,668,23.0,4,1,29
3,Chad Johnson,Oregon State,Pac-10,12,37,801,20.5,8,2,39
4,Marcellus Harris,East Carolina,CUSA,10,23,568,19.6,5,6,29
5,Snoop Minnis,Florida State,ACC,12,63,1340,21.3,11,,63
...,...,...,...,...,...,...,...,...,...,...
387,Jacquis Walker,Arkansas State,Big West,11,25,323,6.1,4,28,53
388,Jameel Cook,Illinois,Big Ten,10,34,433,5.2,1,49,83
389,Duane Epperson,Duke,ACC,11,23,546,4.1,0,111,134
390,Shaud Williams,Texas Tech,Big 12,12,48,522,5.1,2,55,103
391,Ricky Williams,Texas Tech,Big 12,12,52,649,3.6,7,127,179

In [88]:
df_new.to_csv('./receiving/2000.csv')

### 2001

In [89]:
url='https://www.sports-reference.com/cfb/years/2001-receiving.html'
#Create a handle, page, to handle the contents of the website
page = requests.get(url)
#Store the contents of the website under doc
doc = lh.fromstring(page.content)
#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')

In [90]:
tr_elements = doc.xpath('//tr')
#Create empty list
col=[]
i=0
#For each row, store each first element (header) and an empty list
for t in tr_elements[1]:
    i+=1
    name=t.text_content()
    print ('%d:"%s"'%(i,name))
    col.append((name,[]))

1:"Rk"
2:"Player"
3:"School"
4:"Conf"
5:"G"
6:"Rec"
7:"Yds"
8:"Avg"
9:"TD"
10:"Att"
11:"Yds"
12:"Avg"
13:"TD"
14:"Plays"
15:"Yds"
16:"Avg"
17:"TD"

In [91]:
#Since out first row is the header, data is stored on the second row onwards
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 10, the //tr data is not from our table 
    if len(T)!=17:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [92]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)
df

,Rk,Player,School,Conf,G,Rec,Yds,Avg,TD,Att,Plays
0,Rk,Player,School,Conf,G,Rec,Yds,Avg,TD,Att,Plays
1,1,Doug Gabriel,UCF,Ind,10,22,632,28.7,9,,22
2,2,Shaun McDonald,Arizona State,Pac-10,11,47,1112,21.8,11,4,51
3,3,Fred Gibson,Georgia,SEC,10,33,799,22.2,6,3,36
4,4,Charles Rogers*,Michigan State,Big Ten,12,67,1506,21.2,15,4,71
...,...,...,...,...,...,...,...,...,...,...,...
403,384,King Scovell,Texas Tech,Big 12,11,21,132,6.0,1,1,22
404,385,Kenan Lawhorne,Central Michigan,MAC,11,33,696,5.3,4,99,132
405,386,Avon Cobourne,West Virginia,Big East,11,23,1422,4.9,9,267,290
406,387,Chris R. Roberson,Eastern Michigan,MAC,11,23,846,4.5,4,167,190
407,388,Chris Roberson,Eastern Michigan,MAC,11,23,846,4.5,4,167,190

In [93]:
df_new=df.drop(columns = 'Rk')

In [94]:
df_new=df_new.drop(0)
df_new

,Player,School,Conf,G,Rec,Yds,Avg,TD,Att,Plays
1,Doug Gabriel,UCF,Ind,10,22,632,28.7,9,,22
2,Shaun McDonald,Arizona State,Pac-10,11,47,1112,21.8,11,4,51
3,Fred Gibson,Georgia,SEC,10,33,799,22.2,6,3,36
4,Charles Rogers*,Michigan State,Big Ten,12,67,1506,21.2,15,4,71
5,Darrell Hill,Northern Illinois,MAC,11,38,867,21.7,7,2,40
...,...,...,...,...,...,...,...,...,...,...
403,King Scovell,Texas Tech,Big 12,11,21,132,6.0,1,1,22
404,Kenan Lawhorne,Central Michigan,MAC,11,33,696,5.3,4,99,132
405,Avon Cobourne,West Virginia,Big East,11,23,1422,4.9,9,267,290
406,Chris R. Roberson,Eastern Michigan,MAC,11,23,846,4.5,4,167,190
407,Chris Roberson,Eastern Michigan,MAC,11,23,846,4.5,4,167,190

In [95]:
df_new['Player'] = df_new['Player'].str.replace('*', '')
df_new = df_new[df_new['Player'] != 'Player']

df_new

<ipython-input-95-8c6faff15222>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df_new['Player'] = df_new['Player'].str.replace('*', '')

,Player,School,Conf,G,Rec,Yds,Avg,TD,Att,Plays
1,Doug Gabriel,UCF,Ind,10,22,632,28.7,9,,22
2,Shaun McDonald,Arizona State,Pac-10,11,47,1112,21.8,11,4,51
3,Fred Gibson,Georgia,SEC,10,33,799,22.2,6,3,36
4,Charles Rogers,Michigan State,Big Ten,12,67,1506,21.2,15,4,71
5,Darrell Hill,Northern Illinois,MAC,11,38,867,21.7,7,2,40
...,...,...,...,...,...,...,...,...,...,...
403,King Scovell,Texas Tech,Big 12,11,21,132,6.0,1,1,22
404,Kenan Lawhorne,Central Michigan,MAC,11,33,696,5.3,4,99,132
405,Avon Cobourne,West Virginia,Big East,11,23,1422,4.9,9,267,290
406,Chris R. Roberson,Eastern Michigan,MAC,11,23,846,4.5,4,167,190
407,Chris Roberson,Eastern Michigan,MAC,11,23,846,4.5,4,167,190

In [96]:
df_new.to_csv('./receiving/2001.csv')

### 2002

In [97]:
url='https://www.sports-reference.com/cfb/years/2002-receiving.html'
#Create a handle, page, to handle the contents of the website
page = requests.get(url)
#Store the contents of the website under doc
doc = lh.fromstring(page.content)
#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')

In [98]:
tr_elements = doc.xpath('//tr')
#Create empty list
col=[]
i=0
#For each row, store each first element (header) and an empty list
for t in tr_elements[1]:
    i+=1
    name=t.text_content()
    print ('%d:"%s"'%(i,name))
    col.append((name,[]))

1:"Rk"
2:"Player"
3:"School"
4:"Conf"
5:"G"
6:"Rec"
7:"Yds"
8:"Avg"
9:"TD"
10:"Att"
11:"Yds"
12:"Avg"
13:"TD"
14:"Plays"
15:"Yds"
16:"Avg"
17:"TD"

In [99]:
#Since out first row is the header, data is stored on the second row onwards
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 10, the //tr data is not from our table 
    if len(T)!=17:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [100]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)
df

,Rk,Player,School,Conf,G,Rec,Yds,Avg,TD,Att,Plays
0,Rk,Player,School,Conf,G,Rec,Yds,Avg,TD,Att,Plays
1,1,Brandon Middleton,Houston,CUSA,12,28,674,24.1,6,,28
2,2,Aaron Hosack*,Minnesota,Big Ten,13,29,649,22.4,3,,29
3,3,Andre Johnson*,Miami (FL),Big East,12,52,1090,20.6,9,1,53
4,4,Jon Olinger*,Cincinnati,CUSA,14,54,1114,20.6,7,,54
...,...,...,...,...,...,...,...,...,...,...,...
390,372,Taurean Henderson*,Texas Tech,Big 12,14,98,1426,5.7,13,153,251
391,373,Alex Haynes,UCF,MAC,11,24,1170,5.1,9,204,228
392,374,Braxton Cleman*,Washington,Pac-10,9,27,366,3.6,1,74,101
393,375,Aaron Leeper,Buffalo,MAC,12,27,1049,4.0,10,235,262
394,376,Ime Akpan,Eastern Michigan,MAC,11,26,1336,4.6,15,267,293

In [101]:
df_new=df.drop(columns = 'Rk')

In [102]:
df_new=df_new.drop(0)
df_new

,Player,School,Conf,G,Rec,Yds,Avg,TD,Att,Plays
1,Brandon Middleton,Houston,CUSA,12,28,674,24.1,6,,28
2,Aaron Hosack*,Minnesota,Big Ten,13,29,649,22.4,3,,29
3,Andre Johnson*,Miami (FL),Big East,12,52,1090,20.6,9,1,53
4,Jon Olinger*,Cincinnati,CUSA,14,54,1114,20.6,7,,54
5,Maurice Brown*,Iowa,Big Ten,13,48,958,19.2,11,2,50
...,...,...,...,...,...,...,...,...,...,...
390,Taurean Henderson*,Texas Tech,Big 12,14,98,1426,5.7,13,153,251
391,Alex Haynes,UCF,MAC,11,24,1170,5.1,9,204,228
392,Braxton Cleman*,Washington,Pac-10,9,27,366,3.6,1,74,101
393,Aaron Leeper,Buffalo,MAC,12,27,1049,4.0,10,235,262
394,Ime Akpan,Eastern Michigan,MAC,11,26,1336,4.6,15,267,293

In [103]:
df_new['Player'] = df_new['Player'].str.replace('*', '')
df_new = df_new[df_new['Player'] != 'Player']

df_new

<ipython-input-103-8c6faff15222>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df_new['Player'] = df_new['Player'].str.replace('*', '')

,Player,School,Conf,G,Rec,Yds,Avg,TD,Att,Plays
1,Brandon Middleton,Houston,CUSA,12,28,674,24.1,6,,28
2,Aaron Hosack,Minnesota,Big Ten,13,29,649,22.4,3,,29
3,Andre Johnson,Miami (FL),Big East,12,52,1090,20.6,9,1,53
4,Jon Olinger,Cincinnati,CUSA,14,54,1114,20.6,7,,54
5,Maurice Brown,Iowa,Big Ten,13,48,958,19.2,11,2,50
...,...,...,...,...,...,...,...,...,...,...
390,Taurean Henderson,Texas Tech,Big 12,14,98,1426,5.7,13,153,251
391,Alex Haynes,UCF,MAC,11,24,1170,5.1,9,204,228
392,Braxton Cleman,Washington,Pac-10,9,27,366,3.6,1,74,101
393,Aaron Leeper,Buffalo,MAC,12,27,1049,4.0,10,235,262
394,Ime Akpan,Eastern Michigan,MAC,11,26,1336,4.6,15,267,293

In [104]:
df_new.to_csv('./receiving/2002.csv')

### 2003

In [105]:
url='https://www.sports-reference.com/cfb/years/2003-receiving.html'
#Create a handle, page, to handle the contents of the website
page = requests.get(url)
#Store the contents of the website under doc
doc = lh.fromstring(page.content)
#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')

In [106]:
tr_elements = doc.xpath('//tr')
#Create empty list
col=[]
i=0
#For each row, store each first element (header) and an empty list
for t in tr_elements[1]:
    i+=1
    name=t.text_content()
    print ('%d:"%s"'%(i,name))
    col.append((name,[]))

1:"Rk"
2:"Player"
3:"School"
4:"Conf"
5:"G"
6:"Rec"
7:"Yds"
8:"Avg"
9:"TD"
10:"Att"
11:"Yds"
12:"Avg"
13:"TD"
14:"Plays"
15:"Yds"
16:"Avg"
17:"TD"

In [107]:
#Since out first row is the header, data is stored on the second row onwards
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 10, the //tr data is not from our table 
    if len(T)!=17:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [108]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)
df

,Rk,Player,School,Conf,G,Rec,Yds,Avg,TD,Att,Plays
0,Rk,Player,School,Conf,G,Rec,Yds,Avg,TD,Att,Plays
1,1,Dwight Counter*,New Mexico,MWC,13,31,835,22.0,6,7,38
2,2,Lawrence Bady*,Boise State,WAC,13,29,765,21.9,4,6,35
3,3,Chris Henry*,West Virginia,Big East,12,41,1006,24.5,10,,41
4,4,Mike Hass*,Oregon State,Pac-10,13,44,1013,23.0,7,,44
...,...,...,...,...,...,...,...,...,...,...,...
379,361,Zack Abron,Missouri,Big 12,12,25,1189,5.3,13,200,225
380,362,Dee Brown,UCF,MAC,12,25,242,5.5,2,19,44
381,363,Carey Davis,Illinois,Big Ten,9,39,434,5.2,1,44,83
382,364,Ezekiel Staples,San Jose State,WAC,11,25,215,4.7,0,21,46
383,365,Aaron Leeper,Buffalo,MAC,12,23,614,4.2,2,122,145

In [109]:
df_new=df.drop(columns = 'Rk')

In [110]:
df_new=df_new.drop(0)
df_new

,Player,School,Conf,G,Rec,Yds,Avg,TD,Att,Plays
1,Dwight Counter*,New Mexico,MWC,13,31,835,22.0,6,7,38
2,Lawrence Bady*,Boise State,WAC,13,29,765,21.9,4,6,35
3,Chris Henry*,West Virginia,Big East,12,41,1006,24.5,10,,41
4,Mike Hass*,Oregon State,Pac-10,13,44,1013,23.0,7,,44
5,Brandon Middleton*,Houston,CUSA,13,55,1250,22.7,14,,55
...,...,...,...,...,...,...,...,...,...,...
379,Zack Abron,Missouri,Big 12,12,25,1189,5.3,13,200,225
380,Dee Brown,UCF,MAC,12,25,242,5.5,2,19,44
381,Carey Davis,Illinois,Big Ten,9,39,434,5.2,1,44,83
382,Ezekiel Staples,San Jose State,WAC,11,25,215,4.7,0,21,46
383,Aaron Leeper,Buffalo,MAC,12,23,614,4.2,2,122,145

In [111]:
df_new['Player'] = df_new['Player'].str.replace('*', '')
df_new = df_new[df_new['Player'] != 'Player']


df_new

<ipython-input-111-0552ff616220>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df_new['Player'] = df_new['Player'].str.replace('*', '')

,Player,School,Conf,G,Rec,Yds,Avg,TD,Att,Plays
1,Dwight Counter,New Mexico,MWC,13,31,835,22.0,6,7,38
2,Lawrence Bady,Boise State,WAC,13,29,765,21.9,4,6,35
3,Chris Henry,West Virginia,Big East,12,41,1006,24.5,10,,41
4,Mike Hass,Oregon State,Pac-10,13,44,1013,23.0,7,,44
5,Brandon Middleton,Houston,CUSA,13,55,1250,22.7,14,,55
...,...,...,...,...,...,...,...,...,...,...
379,Zack Abron,Missouri,Big 12,12,25,1189,5.3,13,200,225
380,Dee Brown,UCF,MAC,12,25,242,5.5,2,19,44
381,Carey Davis,Illinois,Big Ten,9,39,434,5.2,1,44,83
382,Ezekiel Staples,San Jose State,WAC,11,25,215,4.7,0,21,46
383,Aaron Leeper,Buffalo,MAC,12,23,614,4.2,2,122,145

In [112]:
df_new.to_csv('./receiving/2003.csv')

### 2004

In [113]:
url='https://www.sports-reference.com/cfb/years/2004-receiving.html'
#Create a handle, page, to handle the contents of the website
page = requests.get(url)
#Store the contents of the website under doc
doc = lh.fromstring(page.content)
#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')

In [114]:
tr_elements = doc.xpath('//tr')
#Create empty list
col=[]
i=0
#For each row, store each first element (header) and an empty list
for t in tr_elements[1]:
    i+=1
    name=t.text_content()
    print ('%d:"%s"'%(i,name))
    col.append((name,[]))

1:"Rk"
2:"Player"
3:"School"
4:"Conf"
5:"G"
6:"Rec"
7:"Yds"
8:"Avg"
9:"TD"
10:"Att"
11:"Yds"
12:"Avg"
13:"TD"
14:"Plays"
15:"Yds"
16:"Avg"
17:"TD"

In [115]:
#Since out first row is the header, data is stored on the second row onwards
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 10, the //tr data is not from our table 
    if len(T)!=17:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [116]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)
df

,Rk,Player,School,Conf,G,Rec,Yds,Avg,TD,Att,Plays
0,Rk,Player,School,Conf,G,Rec,Yds,Avg,TD,Att,Plays
1,1,Dan Sheldon*,Northern Illinois,MAC,12,40,1010,21.5,9,7,47
2,2,Roosevelt Bynes,Florida Atlantic,Sun Belt,10,27,628,22.4,4,1,28
3,3,Jason Hill,Washington State,Pac-10,11,45,1007,22.4,12,,45
4,4,Chad Jackson*,Florida,SEC,12,29,649,21.6,6,1,30
...,...,...,...,...,...,...,...,...,...,...,...
398,380,Tim Brown,Temple,Big East,10,33,631,4.5,3,108,141
399,Rk,Player,School,Conf,G,Rec,Yds,Avg,TD,Att,Plays
400,381,Chris Barclay,Wake Forest,ACC,11,21,1128,4.3,9,243,264
401,382,Taurean Henderson*,Texas Tech,Big 12,12,60,1126,5.1,18,162,222
402,383,David Alston,Kent State,MAC,11,28,727,3.5,11,178,206

In [117]:
df_new=df.drop(columns = 'Rk')

In [118]:
df_new=df_new.drop(0)
df_new

,Player,School,Conf,G,Rec,Yds,Avg,TD,Att,Plays
1,Dan Sheldon*,Northern Illinois,MAC,12,40,1010,21.5,9,7,47
2,Roosevelt Bynes,Florida Atlantic,Sun Belt,10,27,628,22.4,4,1,28
3,Jason Hill,Washington State,Pac-10,11,45,1007,22.4,12,,45
4,Chad Jackson*,Florida,SEC,12,29,649,21.6,6,1,30
5,Ernie Wheelwright*,Minnesota,Big Ten,12,30,654,21.8,7,,30
...,...,...,...,...,...,...,...,...,...,...
398,Tim Brown,Temple,Big East,10,33,631,4.5,3,108,141
399,Player,School,Conf,G,Rec,Yds,Avg,TD,Att,Plays
400,Chris Barclay,Wake Forest,ACC,11,21,1128,4.3,9,243,264
401,Taurean Henderson*,Texas Tech,Big 12,12,60,1126,5.1,18,162,222
402,David Alston,Kent State,MAC,11,28,727,3.5,11,178,206

In [119]:
df_new['Player'] = df_new['Player'].str.replace('*', '')
df_new = df_new[df_new['Player'] != 'Player']

df_new

<ipython-input-119-8c6faff15222>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df_new['Player'] = df_new['Player'].str.replace('*', '')

,Player,School,Conf,G,Rec,Yds,Avg,TD,Att,Plays
1,Dan Sheldon,Northern Illinois,MAC,12,40,1010,21.5,9,7,47
2,Roosevelt Bynes,Florida Atlantic,Sun Belt,10,27,628,22.4,4,1,28
3,Jason Hill,Washington State,Pac-10,11,45,1007,22.4,12,,45
4,Chad Jackson,Florida,SEC,12,29,649,21.6,6,1,30
5,Ernie Wheelwright,Minnesota,Big Ten,12,30,654,21.8,7,,30
...,...,...,...,...,...,...,...,...,...,...
397,Travis Cones,Louisiana,Sun Belt,11,24,286,6.5,1,20,44
398,Tim Brown,Temple,Big East,10,33,631,4.5,3,108,141
400,Chris Barclay,Wake Forest,ACC,11,21,1128,4.3,9,243,264
401,Taurean Henderson,Texas Tech,Big 12,12,60,1126,5.1,18,162,222
402,David Alston,Kent State,MAC,11,28,727,3.5,11,178,206

In [120]:
df_new.to_csv('./receiving/2004.csv')

### 2005

In [121]:
url='https://www.sports-reference.com/cfb/years/2005-receiving.html'
#Create a handle, page, to handle the contents of the website
page = requests.get(url)
#Store the contents of the website under doc
doc = lh.fromstring(page.content)
#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')

In [122]:
tr_elements = doc.xpath('//tr')
#Create empty list
col=[]
i=0
#For each row, store each first element (header) and an empty list
for t in tr_elements[1]:
    i+=1
    name=t.text_content()
    print ('%d:"%s"'%(i,name))
    col.append((name,[]))

1:"Rk"
2:"Player"
3:"School"
4:"Conf"
5:"G"
6:"Rec"
7:"Yds"
8:"Avg"
9:"TD"
10:"Att"
11:"Yds"
12:"Avg"
13:"TD"
14:"Plays"
15:"Yds"
16:"Avg"
17:"TD"

In [123]:
#Since out first row is the header, data is stored on the second row onwards
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 10, the //tr data is not from our table 
    if len(T)!=17:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [124]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)
df

,Rk,Player,School,Conf,G,Rec,Yds,Avg,TD,Att,Plays
0,Rk,Player,School,Conf,G,Rec,Yds,Avg,TD,Att,Plays
1,1,Matt Miller*,Arizona State,Pac-10,11,24,563,23.5,7,,24
2,2,Billy Pittman*,Texas,Big 12,13,34,778,21.6,5,2,36
3,3,Mario Urrutia*,Louisville,Big East,11,37,797,21.5,7,,37
4,4,Brian Clark*,North Carolina State,ACC,10,25,537,21.5,6,,25
...,...,...,...,...,...,...,...,...,...,...,...
443,422,Brandon Whitaker,Baylor,Big 12,11,30,641,4.9,1,101,131
444,423,E.B. Halsey,Illinois,Big Ten,11,38,534,4.4,3,84,122
445,424,Gilbert Harris,Arizona,Pac-10,11,22,391,3.9,7,79,101
446,425,Kenneth Darby*,Alabama,SEC,12,29,1374,5.1,3,239,268
447,426,Yamar Washington,Indiana,Big Ten,11,22,500,3.4,1,127,149

In [125]:
df_new=df.drop(columns = 'Rk')

In [126]:
df_new=df_new.drop(0)
df_new

,Player,School,Conf,G,Rec,Yds,Avg,TD,Att,Plays
1,Matt Miller*,Arizona State,Pac-10,11,24,563,23.5,7,,24
2,Billy Pittman*,Texas,Big 12,13,34,778,21.6,5,2,36
3,Mario Urrutia*,Louisville,Big East,11,37,797,21.5,7,,37
4,Brian Clark*,North Carolina State,ACC,10,25,537,21.5,6,,25
5,Najah Pruden,Kent State,MAC,10,33,688,20.8,5,,33
...,...,...,...,...,...,...,...,...,...,...
443,Brandon Whitaker,Baylor,Big 12,11,30,641,4.9,1,101,131
444,E.B. Halsey,Illinois,Big Ten,11,38,534,4.4,3,84,122
445,Gilbert Harris,Arizona,Pac-10,11,22,391,3.9,7,79,101
446,Kenneth Darby*,Alabama,SEC,12,29,1374,5.1,3,239,268
447,Yamar Washington,Indiana,Big Ten,11,22,500,3.4,1,127,149

In [127]:
df_new['Player'] = df_new['Player'].str.replace('*', '')
df_new = df_new[df_new['Player'] != 'Player']

df_new

<ipython-input-127-8c6faff15222>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df_new['Player'] = df_new['Player'].str.replace('*', '')

,Player,School,Conf,G,Rec,Yds,Avg,TD,Att,Plays
1,Matt Miller,Arizona State,Pac-10,11,24,563,23.5,7,,24
2,Billy Pittman,Texas,Big 12,13,34,778,21.6,5,2,36
3,Mario Urrutia,Louisville,Big East,11,37,797,21.5,7,,37
4,Brian Clark,North Carolina State,ACC,10,25,537,21.5,6,,25
5,Najah Pruden,Kent State,MAC,10,33,688,20.8,5,,33
...,...,...,...,...,...,...,...,...,...,...
443,Brandon Whitaker,Baylor,Big 12,11,30,641,4.9,1,101,131
444,E.B. Halsey,Illinois,Big Ten,11,38,534,4.4,3,84,122
445,Gilbert Harris,Arizona,Pac-10,11,22,391,3.9,7,79,101
446,Kenneth Darby,Alabama,SEC,12,29,1374,5.1,3,239,268
447,Yamar Washington,Indiana,Big Ten,11,22,500,3.4,1,127,149

In [128]:
df_new.to_csv('./receiving/2005.csv')

### 2006

In [129]:
url='https://www.sports-reference.com/cfb/years/2006-receiving.html'
#Create a handle, page, to handle the contents of the website
page = requests.get(url)
#Store the contents of the website under doc
doc = lh.fromstring(page.content)
#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')

In [130]:
tr_elements = doc.xpath('//tr')
#Create empty list
col=[]
i=0
#For each row, store each first element (header) and an empty list
for t in tr_elements[1]:
    i+=1
    name=t.text_content()
    print ('%d:"%s"'%(i,name))
    col.append((name,[]))

1:"Rk"
2:"Player"
3:"School"
4:"Conf"
5:"G"
6:"Rec"
7:"Yds"
8:"Avg"
9:"TD"
10:"Att"
11:"Yds"
12:"Avg"
13:"TD"
14:"Plays"
15:"Yds"
16:"Avg"
17:"TD"

In [131]:
#Since out first row is the header, data is stored on the second row onwards
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 10, the //tr data is not from our table 
    if len(T)!=17:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [132]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)
df

,Rk,Player,School,Conf,G,Rec,Yds,Avg,TD,Att,Plays
0,Rk,Player,School,Conf,G,Rec,Yds,Avg,TD,Att,Plays
1,1,Terry Moss,Ball State,MAC,12,27,685,25.4,8,,27
2,2,Tony Burks,Mississippi State,SEC,12,35,850,24.3,5,,35
3,3,David Harvey,Akron,MAC,12,43,921,20.5,10,2,45
4,4,Najah Pruden,Kent State,MAC,12,39,808,20.7,6,,39
...,...,...,...,...,...,...,...,...,...,...,...
406,387,Marcus Thomas,UTEP,CUSA,11,39,755,3.9,6,156,195
407,388,Dontayo Gage,Eastern Michigan,MAC,12,28,173,3.6,0,20,48
408,389,Akieem Jolla,New Mexico State,WAC,10,23,135,5.9,0,0,23
409,390,Paul Mosley,Baylor,Big 12,11,23,601,4.9,7,100,123
410,391,Dennis Kennedy,Akron,MAC,11,39,1107,4.2,9,226,265

In [133]:
df_new=df.drop(columns = 'Rk')

In [134]:
df_new=df_new.drop(0)
df_new

,Player,School,Conf,G,Rec,Yds,Avg,TD,Att,Plays
1,Terry Moss,Ball State,MAC,12,27,685,25.4,8,,27
2,Tony Burks,Mississippi State,SEC,12,35,850,24.3,5,,35
3,David Harvey,Akron,MAC,12,43,921,20.5,10,2,45
4,Najah Pruden,Kent State,MAC,12,39,808,20.7,6,,39
5,Derrick Stewart*,Cincinnati,Big East,13,33,671,18.6,5,3,36
...,...,...,...,...,...,...,...,...,...,...
406,Marcus Thomas,UTEP,CUSA,11,39,755,3.9,6,156,195
407,Dontayo Gage,Eastern Michigan,MAC,12,28,173,3.6,0,20,48
408,Akieem Jolla,New Mexico State,WAC,10,23,135,5.9,0,0,23
409,Paul Mosley,Baylor,Big 12,11,23,601,4.9,7,100,123
410,Dennis Kennedy,Akron,MAC,11,39,1107,4.2,9,226,265

In [135]:
df_new['Player'] = df_new['Player'].str.replace('*', '')
df_new = df_new[df_new['Player'] != 'Player']

df_new

<ipython-input-135-8c6faff15222>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df_new['Player'] = df_new['Player'].str.replace('*', '')

,Player,School,Conf,G,Rec,Yds,Avg,TD,Att,Plays
1,Terry Moss,Ball State,MAC,12,27,685,25.4,8,,27
2,Tony Burks,Mississippi State,SEC,12,35,850,24.3,5,,35
3,David Harvey,Akron,MAC,12,43,921,20.5,10,2,45
4,Najah Pruden,Kent State,MAC,12,39,808,20.7,6,,39
5,Derrick Stewart,Cincinnati,Big East,13,33,671,18.6,5,3,36
...,...,...,...,...,...,...,...,...,...,...
406,Marcus Thomas,UTEP,CUSA,11,39,755,3.9,6,156,195
407,Dontayo Gage,Eastern Michigan,MAC,12,28,173,3.6,0,20,48
408,Akieem Jolla,New Mexico State,WAC,10,23,135,5.9,0,0,23
409,Paul Mosley,Baylor,Big 12,11,23,601,4.9,7,100,123
410,Dennis Kennedy,Akron,MAC,11,39,1107,4.2,9,226,265

In [136]:
df_new.to_csv('./receiving/2006.csv')