In [69]:
import requests
import lxml.html as lh
import pandas as pd

### 2000

In [70]:
url='https://www.sports-reference.com/cfb/years/2000-rushing.html'
#Create a handle, page, to handle the contents of the website
page = requests.get(url)
#Store the contents of the website under doc
doc = lh.fromstring(page.content)
#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')

In [71]:
tr_elements = doc.xpath('//tr')
#Create empty list
col=[]
i=0
#For each row, store each first element (header) and an empty list
for t in tr_elements[1]:
    i+=1
    name=t.text_content()
    print ('%d:"%s"'%(i,name))
    col.append((name,[]))

1:"Rk"
2:"Player"
3:"School"
4:"Conf"
5:"G"
6:"Att"
7:"Yds"
8:"Avg"
9:"TD"
10:"Rec"
11:"Yds"
12:"Avg"
13:"TD"
14:"Plays"
15:"Yds"
16:"Avg"
17:"TD"

In [72]:
#Since out first row is the header, data is stored on the second row onwards
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 10, the //tr data is not from our table 
    if len(T)!=17:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [73]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)
df

,Rk,Player,School,Conf,G,Att,Yds,Avg,TD,Rec,Plays
0,Rk,Player,School,Conf,G,Att,Yds,Avg,TD,Rec,Plays
1,1,Kenton Keith,New Mexico State,Big West,11,109,865,7.5,4,6,115
2,2,Levron Williams,Indiana,Big Ten,10,116,937,6.9,10,20,136
3,3,Correll Buckhalter,Nebraska,Big 12,11,106,835,7.5,8,5,111
4,4,Deonce Whitaker,San Jose State,WAC,10,224,1614,7.1,16,3,227
...,...,...,...,...,...,...,...,...,...,...,...
257,245,Josh Blankenship,Tulsa,WAC,12,81,-19,-0.2,1,,81
258,246,Andy Sahm,Bowling Green State,MAC,11,81,-76,-0.9,3,,81
259,247,Philip Rivers,North Carolina State,ACC,11,73,-68,-0.9,3,1,74
260,248,D. Bryant,Duke,ACC,11,79,-67,-0.8,2,2,81
261,249,Jason McKinley,Houston,CUSA,11,73,-131,-1.8,1,,73

In [74]:
df_new=df.drop(columns = 'Rk')

In [75]:
df_new=df_new.drop(0)
df_new

,Player,School,Conf,G,Att,Yds,Avg,TD,Rec,Plays
1,Kenton Keith,New Mexico State,Big West,11,109,865,7.5,4,6,115
2,Levron Williams,Indiana,Big Ten,10,116,937,6.9,10,20,136
3,Correll Buckhalter,Nebraska,Big 12,11,106,835,7.5,8,5,111
4,Deonce Whitaker,San Jose State,WAC,10,224,1614,7.1,16,3,227
5,Dwone Hicks,Middle Tennessee State,Ind,11,186,1458,7.1,21,19,205
...,...,...,...,...,...,...,...,...,...,...
257,Josh Blankenship,Tulsa,WAC,12,81,-19,-0.2,1,,81
258,Andy Sahm,Bowling Green State,MAC,11,81,-76,-0.9,3,,81
259,Philip Rivers,North Carolina State,ACC,11,73,-68,-0.9,3,1,74
260,D. Bryant,Duke,ACC,11,79,-67,-0.8,2,2,81
261,Jason McKinley,Houston,CUSA,11,73,-131,-1.8,1,,73

In [76]:
df_new['Player'] = df_new['Player'].str.replace('*', '')
df_new = df_new[df_new['Player'] != 'Player']

df_new

<ipython-input-76-8c6faff15222>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df_new['Player'] = df_new['Player'].str.replace('*', '')

,Player,School,Conf,G,Att,Yds,Avg,TD,Rec,Plays
1,Kenton Keith,New Mexico State,Big West,11,109,865,7.5,4,6,115
2,Levron Williams,Indiana,Big Ten,10,116,937,6.9,10,20,136
3,Correll Buckhalter,Nebraska,Big 12,11,106,835,7.5,8,5,111
4,Deonce Whitaker,San Jose State,WAC,10,224,1614,7.1,16,3,227
5,Dwone Hicks,Middle Tennessee State,Ind,11,186,1458,7.1,21,19,205
...,...,...,...,...,...,...,...,...,...,...
257,Josh Blankenship,Tulsa,WAC,12,81,-19,-0.2,1,,81
258,Andy Sahm,Bowling Green State,MAC,11,81,-76,-0.9,3,,81
259,Philip Rivers,North Carolina State,ACC,11,73,-68,-0.9,3,1,74
260,D. Bryant,Duke,ACC,11,79,-67,-0.8,2,2,81
261,Jason McKinley,Houston,CUSA,11,73,-131,-1.8,1,,73

In [77]:
df_new.to_csv('./rushing/2000.csv')

### 2001

In [78]:
url='https://www.sports-reference.com/cfb/years/2001-rushing.html'
#Create a handle, page, to handle the contents of the website
page = requests.get(url)
#Store the contents of the website under doc
doc = lh.fromstring(page.content)
#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')

In [79]:
tr_elements = doc.xpath('//tr')
#Create empty list
col=[]
i=0
#For each row, store each first element (header) and an empty list
for t in tr_elements[1]:
    i+=1
    name=t.text_content()
    print ('%d:"%s"'%(i,name))
    col.append((name,[]))

1:"Rk"
2:"Player"
3:"School"
4:"Conf"
5:"G"
6:"Att"
7:"Yds"
8:"Avg"
9:"TD"
10:"Rec"
11:"Yds"
12:"Avg"
13:"TD"
14:"Plays"
15:"Yds"
16:"Avg"
17:"TD"

In [80]:
#Since out first row is the header, data is stored on the second row onwards
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 10, the //tr data is not from our table 
    if len(T)!=17:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [81]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)
df

,Rk,Player,School,Conf,G,Att,Yds,Avg,TD,Rec,Plays
0,Rk,Player,School,Conf,G,Att,Yds,Avg,TD,Rec,Plays
1,1,Santonio Beard,Alabama,SEC,8,77,641,8.2,4,1,78
2,2,Luke Staley,Brigham Young,MWC,11,196,1930,8.5,28,32,228
3,3,Matt Jones,Arkansas,SEC,8,74,613,8.1,5,2,76
4,4,Leonard Henry,East Carolina,CUSA,11,184,1642,7.8,18,26,210
...,...,...,...,...,...,...,...,...,...,...,...
265,253,Greg Zolman,Vanderbilt,SEC,11,69,-9,-0.1,5,1,70
266,254,Casey Bramlet,Wyoming,MWC,11,89,-22,-0.2,6,1,90
267,255,Jeff Smoker*,Michigan State,Big Ten,11,81,-58,-0.7,2,,81
268,256,Ryan Cubit,Rutgers,Big East,11,86,-99,-1.2,0,,86
269,257,Brock Nutter,Troy,Ind,11,84,-203,-2.4,2,,84

In [82]:
df_new=df.drop(columns = 'Rk')

In [83]:
df_new=df_new.drop(0)
df_new

,Player,School,Conf,G,Att,Yds,Avg,TD,Rec,Plays
1,Santonio Beard,Alabama,SEC,8,77,641,8.2,4,1,78
2,Luke Staley,Brigham Young,MWC,11,196,1930,8.5,28,32,228
3,Matt Jones,Arkansas,SEC,8,74,613,8.1,5,2,76
4,Leonard Henry,East Carolina,CUSA,11,184,1642,7.8,18,26,210
5,Reshard Lee,Middle Tennessee State,Sun Belt,11,108,877,7.5,4,9,117
...,...,...,...,...,...,...,...,...,...,...
265,Greg Zolman,Vanderbilt,SEC,11,69,-9,-0.1,5,1,70
266,Casey Bramlet,Wyoming,MWC,11,89,-22,-0.2,6,1,90
267,Jeff Smoker*,Michigan State,Big Ten,11,81,-58,-0.7,2,,81
268,Ryan Cubit,Rutgers,Big East,11,86,-99,-1.2,0,,86
269,Brock Nutter,Troy,Ind,11,84,-203,-2.4,2,,84

In [84]:
df_new['Player'] = df_new['Player'].str.replace('*', '')
df_new = df_new[df_new['Player'] != 'Player']

df_new

<ipython-input-84-8c6faff15222>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df_new['Player'] = df_new['Player'].str.replace('*', '')

,Player,School,Conf,G,Att,Yds,Avg,TD,Rec,Plays
1,Santonio Beard,Alabama,SEC,8,77,641,8.2,4,1,78
2,Luke Staley,Brigham Young,MWC,11,196,1930,8.5,28,32,228
3,Matt Jones,Arkansas,SEC,8,74,613,8.1,5,2,76
4,Leonard Henry,East Carolina,CUSA,11,184,1642,7.8,18,26,210
5,Reshard Lee,Middle Tennessee State,Sun Belt,11,108,877,7.5,4,9,117
...,...,...,...,...,...,...,...,...,...,...
265,Greg Zolman,Vanderbilt,SEC,11,69,-9,-0.1,5,1,70
266,Casey Bramlet,Wyoming,MWC,11,89,-22,-0.2,6,1,90
267,Jeff Smoker,Michigan State,Big Ten,11,81,-58,-0.7,2,,81
268,Ryan Cubit,Rutgers,Big East,11,86,-99,-1.2,0,,86
269,Brock Nutter,Troy,Ind,11,84,-203,-2.4,2,,84

In [85]:
df_new.to_csv('./rushing/2001.csv')

### 2002

In [86]:
url='https://www.sports-reference.com/cfb/years/2002-rushing.html'
#Create a handle, page, to handle the contents of the website
page = requests.get(url)
#Store the contents of the website under doc
doc = lh.fromstring(page.content)
#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')

In [87]:
tr_elements = doc.xpath('//tr')
#Create empty list
col=[]
i=0
#For each row, store each first element (header) and an empty list
for t in tr_elements[1]:
    i+=1
    name=t.text_content()
    print ('%d:"%s"'%(i,name))
    col.append((name,[]))

1:"Rk"
2:"Player"
3:"School"
4:"Conf"
5:"G"
6:"Att"
7:"Yds"
8:"Avg"
9:"TD"
10:"Rec"
11:"Yds"
12:"Avg"
13:"TD"
14:"Plays"
15:"Yds"
16:"Avg"
17:"TD"

In [88]:
#Since out first row is the header, data is stored on the second row onwards
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 10, the //tr data is not from our table 
    if len(T)!=17:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [89]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)
df

,Rk,Player,School,Conf,G,Att,Yds,Avg,TD,Rec,Plays
0,Rk,Player,School,Conf,G,Att,Yds,Avg,TD,Rec,Plays
1,1,Larry Johnson*,Penn State,Big Ten,13,271,2436,7.8,23,41,312
2,2,Joshua Cribbs,Kent State,MAC,10,137,1057,7.7,10,,137
3,3,Dominique Dorsey,UNLV,MWC,12,78,575,7.3,3,1,79
4,4,Larry Croom,UNLV,MWC,12,84,872,8.4,6,20,104
...,...,...,...,...,...,...,...,...,...,...,...
246,235,Aaron Karas,Baylor,Big 12,11,95,17,0.2,2,1,96
247,236,Darrell Hackney,UAB,CUSA,11,85,-14,-0.2,2,,85
248,237,Ben Roethlisberger,Miami (OH),MAC,12,82,-54,-0.7,1,,82
249,238,Kliff Kingsbury*,Texas Tech,Big 12,14,102,-114,-1.1,2,1,103
250,239,Cody Pickett*,Washington,Pac-10,13,86,-193,-2.2,3,1,87

In [90]:
df_new=df.drop(columns = 'Rk')

In [91]:
df_new=df_new.drop(0)
df_new

,Player,School,Conf,G,Att,Yds,Avg,TD,Rec,Plays
1,Larry Johnson*,Penn State,Big Ten,13,271,2436,7.8,23,41,312
2,Joshua Cribbs,Kent State,MAC,10,137,1057,7.7,10,,137
3,Dominique Dorsey,UNLV,MWC,12,78,575,7.3,3,1,79
4,Larry Croom,UNLV,MWC,12,84,872,8.4,6,20,104
5,Shaud Williams,Alabama,SEC,13,130,1149,7.6,5,21,151
...,...,...,...,...,...,...,...,...,...,...
246,Aaron Karas,Baylor,Big 12,11,95,17,0.2,2,1,96
247,Darrell Hackney,UAB,CUSA,11,85,-14,-0.2,2,,85
248,Ben Roethlisberger,Miami (OH),MAC,12,82,-54,-0.7,1,,82
249,Kliff Kingsbury*,Texas Tech,Big 12,14,102,-114,-1.1,2,1,103
250,Cody Pickett*,Washington,Pac-10,13,86,-193,-2.2,3,1,87

In [92]:
df_new['Player'] = df_new['Player'].str.replace('*', '')
df_new = df_new[df_new['Player'] != 'Player']

df_new

<ipython-input-92-8c6faff15222>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df_new['Player'] = df_new['Player'].str.replace('*', '')

,Player,School,Conf,G,Att,Yds,Avg,TD,Rec,Plays
1,Larry Johnson,Penn State,Big Ten,13,271,2436,7.8,23,41,312
2,Joshua Cribbs,Kent State,MAC,10,137,1057,7.7,10,,137
3,Dominique Dorsey,UNLV,MWC,12,78,575,7.3,3,1,79
4,Larry Croom,UNLV,MWC,12,84,872,8.4,6,20,104
5,Shaud Williams,Alabama,SEC,13,130,1149,7.6,5,21,151
...,...,...,...,...,...,...,...,...,...,...
246,Aaron Karas,Baylor,Big 12,11,95,17,0.2,2,1,96
247,Darrell Hackney,UAB,CUSA,11,85,-14,-0.2,2,,85
248,Ben Roethlisberger,Miami (OH),MAC,12,82,-54,-0.7,1,,82
249,Kliff Kingsbury,Texas Tech,Big 12,14,102,-114,-1.1,2,1,103
250,Cody Pickett,Washington,Pac-10,13,86,-193,-2.2,3,1,87

In [93]:
df_new.to_csv('./rushing/2002.csv')

### 2003

In [94]:
url='https://www.sports-reference.com/cfb/years/2003-rushing.html'
#Create a handle, page, to handle the contents of the website
page = requests.get(url)
#Store the contents of the website under doc
doc = lh.fromstring(page.content)
#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')

In [95]:
tr_elements = doc.xpath('//tr')
#Create empty list
col=[]
i=0
#For each row, store each first element (header) and an empty list
for t in tr_elements[1]:
    i+=1
    name=t.text_content()
    print ('%d:"%s"'%(i,name))
    col.append((name,[]))

1:"Rk"
2:"Player"
3:"School"
4:"Conf"
5:"G"
6:"Att"
7:"Yds"
8:"Avg"
9:"TD"
10:"Rec"
11:"Yds"
12:"Avg"
13:"TD"
14:"Plays"
15:"Yds"
16:"Avg"
17:"TD"

In [96]:
#Since out first row is the header, data is stored on the second row onwards
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 10, the //tr data is not from our table 
    if len(T)!=17:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [97]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)
df

,Rk,Player,School,Conf,G,Att,Yds,Avg,TD,Rec,Plays
0,Rk,Player,School,Conf,G,Att,Yds,Avg,TD,Rec,Plays
1,1,Vince Young*,Texas,Big 12,12,135,998,7.4,11,,135
2,2,Matt Jones*,Arkansas,SEC,13,96,719,7.4,8,1,97
3,3,Thomas Lott,Rice,WAC,11,98,729,7.1,3,4,102
4,4,Laurence Maroney*,Minnesota,Big Ten,13,162,1132,6.9,10,1,163
...,...,...,...,...,...,...,...,...,...,...,...
280,267,Charlie Whitehurst*,Clemson,ACC,13,92,49,0.5,4,,92
281,268,Matt LoVecchio,Indiana,Big Ten,11,97,7,0.1,2,1,98
282,269,Cody Pickett,Washington,Pac-10,12,80,-61,-0.8,3,,80
283,270,Josh Haldi,Northern Illinois,MAC,12,75,-65,-0.9,3,0,75
284,271,Casey Bramlet,Wyoming,MWC,12,98,-101,-1.0,3,,98

In [98]:
df_new=df.drop(columns = 'Rk')

In [99]:
df_new=df_new.drop(0)
df_new

,Player,School,Conf,G,Att,Yds,Avg,TD,Rec,Plays
1,Vince Young*,Texas,Big 12,12,135,998,7.4,11,,135
2,Matt Jones*,Arkansas,SEC,13,96,719,7.4,8,1,97
3,Thomas Lott,Rice,WAC,11,98,729,7.1,3,4,102
4,Laurence Maroney*,Minnesota,Big Ten,13,162,1132,6.9,10,1,163
5,Ciatrick Fason*,Florida,SEC,13,84,725,7.6,6,11,95
...,...,...,...,...,...,...,...,...,...,...
280,Charlie Whitehurst*,Clemson,ACC,13,92,49,0.5,4,,92
281,Matt LoVecchio,Indiana,Big Ten,11,97,7,0.1,2,1,98
282,Cody Pickett,Washington,Pac-10,12,80,-61,-0.8,3,,80
283,Josh Haldi,Northern Illinois,MAC,12,75,-65,-0.9,3,0,75
284,Casey Bramlet,Wyoming,MWC,12,98,-101,-1.0,3,,98

In [100]:
df_new['Player'] = df_new['Player'].str.replace('*', '')
df_new = df_new[df_new['Player'] != 'Player']

df_new

<ipython-input-100-8c6faff15222>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df_new['Player'] = df_new['Player'].str.replace('*', '')

,Player,School,Conf,G,Att,Yds,Avg,TD,Rec,Plays
1,Vince Young,Texas,Big 12,12,135,998,7.4,11,,135
2,Matt Jones,Arkansas,SEC,13,96,719,7.4,8,1,97
3,Thomas Lott,Rice,WAC,11,98,729,7.1,3,4,102
4,Laurence Maroney,Minnesota,Big Ten,13,162,1132,6.9,10,1,163
5,Ciatrick Fason,Florida,SEC,13,84,725,7.6,6,11,95
...,...,...,...,...,...,...,...,...,...,...
280,Charlie Whitehurst,Clemson,ACC,13,92,49,0.5,4,,92
281,Matt LoVecchio,Indiana,Big Ten,11,97,7,0.1,2,1,98
282,Cody Pickett,Washington,Pac-10,12,80,-61,-0.8,3,,80
283,Josh Haldi,Northern Illinois,MAC,12,75,-65,-0.9,3,0,75
284,Casey Bramlet,Wyoming,MWC,12,98,-101,-1.0,3,,98

In [101]:
df_new.to_csv('./rushing/2003.csv')

### 2004

In [102]:
url='https://www.sports-reference.com/cfb/years/2004-rushing.html'
#Create a handle, page, to handle the contents of the website
page = requests.get(url)
#Store the contents of the website under doc
doc = lh.fromstring(page.content)
#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')

In [103]:
tr_elements = doc.xpath('//tr')
#Create empty list
col=[]
i=0
#For each row, store each first element (header) and an empty list
for t in tr_elements[1]:
    i+=1
    name=t.text_content()
    print ('%d:"%s"'%(i,name))
    col.append((name,[]))

1:"Rk"
2:"Player"
3:"School"
4:"Conf"
5:"G"
6:"Att"
7:"Yds"
8:"Avg"
9:"TD"
10:"Rec"
11:"Yds"
12:"Avg"
13:"TD"
14:"Plays"
15:"Yds"
16:"Avg"
17:"TD"

In [104]:
#Since out first row is the header, data is stored on the second row onwards
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 10, the //tr data is not from our table 
    if len(T)!=17:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [105]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)
df

,Rk,Player,School,Conf,G,Att,Yds,Avg,TD,Rec,Plays
0,Rk,Player,School,Conf,G,Att,Yds,Avg,TD,Rec,Plays
1,1,Deandra Cobb,Michigan State,Big Ten,12,96,738,7.2,4,7,103
2,2,Matt Jones,Arkansas,SEC,11,83,622,7.5,6,,83
3,3,Drew Stanton,Michigan State,Big Ten,10,96,709,7.2,6,2,98
4,4,J.J. Arrington*,California,Pac-10,12,289,2139,6.9,15,21,310
...,...,...,...,...,...,...,...,...,...,...,...
276,263,John Beck,Brigham Young,MWC,11,90,-36,-0.4,0,,90
277,264,Darrell Hackney*,UAB,CUSA,12,81,-44,-0.5,2,,81
278,265,Mike Schneider,Duke,ACC,11,72,-44,-0.6,2,1,73
279,266,Drew Tate*,Iowa,Big Ten,12,89,-68,-0.8,2,1,90
280,267,Derek Anderson*,Oregon State,Pac-10,12,75,-152,-2.0,2,,75

In [106]:
df_new=df.drop(columns = 'Rk')

In [107]:
df_new=df_new.drop(0)
df_new

,Player,School,Conf,G,Att,Yds,Avg,TD,Rec,Plays
1,Deandra Cobb,Michigan State,Big Ten,12,96,738,7.2,4,7,103
2,Matt Jones,Arkansas,SEC,11,83,622,7.5,6,,83
3,Drew Stanton,Michigan State,Big Ten,10,96,709,7.2,6,2,98
4,J.J. Arrington*,California,Pac-10,12,289,2139,6.9,15,21,310
5,Leon Washington*,Florida State,ACC,10,138,1041,6.8,7,14,152
...,...,...,...,...,...,...,...,...,...,...
276,John Beck,Brigham Young,MWC,11,90,-36,-0.4,0,,90
277,Darrell Hackney*,UAB,CUSA,12,81,-44,-0.5,2,,81
278,Mike Schneider,Duke,ACC,11,72,-44,-0.6,2,1,73
279,Drew Tate*,Iowa,Big Ten,12,89,-68,-0.8,2,1,90
280,Derek Anderson*,Oregon State,Pac-10,12,75,-152,-2.0,2,,75

In [108]:
df_new['Player'] = df_new['Player'].str.replace('*', '')
df_new = df_new[df_new['Player'] != 'Player']

df_new

<ipython-input-108-8c6faff15222>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df_new['Player'] = df_new['Player'].str.replace('*', '')

,Player,School,Conf,G,Att,Yds,Avg,TD,Rec,Plays
1,Deandra Cobb,Michigan State,Big Ten,12,96,738,7.2,4,7,103
2,Matt Jones,Arkansas,SEC,11,83,622,7.5,6,,83
3,Drew Stanton,Michigan State,Big Ten,10,96,709,7.2,6,2,98
4,J.J. Arrington,California,Pac-10,12,289,2139,6.9,15,21,310
5,Leon Washington,Florida State,ACC,10,138,1041,6.8,7,14,152
...,...,...,...,...,...,...,...,...,...,...
276,John Beck,Brigham Young,MWC,11,90,-36,-0.4,0,,90
277,Darrell Hackney,UAB,CUSA,12,81,-44,-0.5,2,,81
278,Mike Schneider,Duke,ACC,11,72,-44,-0.6,2,1,73
279,Drew Tate,Iowa,Big Ten,12,89,-68,-0.8,2,1,90
280,Derek Anderson,Oregon State,Pac-10,12,75,-152,-2.0,2,,75

In [109]:
df_new.to_csv('./rushing/2004.csv')

### 2005

In [110]:
url='https://www.sports-reference.com/cfb/years/2005-rushing.html'
#Create a handle, page, to handle the contents of the website
page = requests.get(url)
#Store the contents of the website under doc
doc = lh.fromstring(page.content)
#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')

In [111]:
tr_elements = doc.xpath('//tr')
#Create empty list
col=[]
i=0
#For each row, store each first element (header) and an empty list
for t in tr_elements[1]:
    i+=1
    name=t.text_content()
    print ('%d:"%s"'%(i,name))
    col.append((name,[]))

1:"Rk"
2:"Player"
3:"School"
4:"Conf"
5:"G"
6:"Att"
7:"Yds"
8:"Avg"
9:"TD"
10:"Rec"
11:"Yds"
12:"Avg"
13:"TD"
14:"Plays"
15:"Yds"
16:"Avg"
17:"TD"

In [112]:
#Since out first row is the header, data is stored on the second row onwards
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 10, the //tr data is not from our table 
    if len(T)!=17:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [113]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)
df

,Rk,Player,School,Conf,G,Att,Yds,Avg,TD,Rec,Plays
0,Rk,Player,School,Conf,G,Att,Yds,Avg,TD,Rec,Plays
1,1,Reggie Bush*,USC,Pac-10,13,200,2218,9.4,18,37,237
2,2,George Stripling*,Louisville,Big East,12,79,635,7.9,7,1,80
3,3,Justin Forsett*,California,Pac-10,12,132,1067,7.7,6,7,139
4,4,Nate Ilaoa,Hawaii,WAC,12,85,917,7.6,7,36,121
...,...,...,...,...,...,...,...,...,...,...,...
276,263,Perry Patterson,Syracuse,Big East,11,72,-37,-0.5,3,,72
277,264,Zac Taylor,Nebraska,Big 12,12,76,-45,-0.6,1,1,77
278,265,Joey Lynch,Ball State,MAC,11,86,-106,-1.2,0,1,87
279,266,Clint Marks,Middle Tennessee State,Sun Belt,11,69,-111,-1.6,3,1,70
280,267,Tyler Palko,Pitt,Big East,11,70,-139,-2.0,6,,70

In [114]:
df_new=df.drop(columns = 'Rk')

In [115]:
df_new=df_new.drop(0)
df_new

,Player,School,Conf,G,Att,Yds,Avg,TD,Rec,Plays
1,Reggie Bush*,USC,Pac-10,13,200,2218,9.4,18,37,237
2,George Stripling*,Louisville,Big East,12,79,635,7.9,7,1,80
3,Justin Forsett*,California,Pac-10,12,132,1067,7.7,6,7,139
4,Nate Ilaoa,Hawaii,WAC,12,85,917,7.6,7,36,121
5,Jamaal Charles*,Texas,Big 12,13,119,1035,7.8,13,14,133
...,...,...,...,...,...,...,...,...,...,...
276,Perry Patterson,Syracuse,Big East,11,72,-37,-0.5,3,,72
277,Zac Taylor,Nebraska,Big 12,12,76,-45,-0.6,1,1,77
278,Joey Lynch,Ball State,MAC,11,86,-106,-1.2,0,1,87
279,Clint Marks,Middle Tennessee State,Sun Belt,11,69,-111,-1.6,3,1,70
280,Tyler Palko,Pitt,Big East,11,70,-139,-2.0,6,,70

In [116]:
df_new['Player'] = df_new['Player'].str.replace('*', '')
df_new = df_new[df_new['Player'] != 'Player']

df_new

<ipython-input-116-8c6faff15222>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df_new['Player'] = df_new['Player'].str.replace('*', '')

,Player,School,Conf,G,Att,Yds,Avg,TD,Rec,Plays
1,Reggie Bush,USC,Pac-10,13,200,2218,9.4,18,37,237
2,George Stripling,Louisville,Big East,12,79,635,7.9,7,1,80
3,Justin Forsett,California,Pac-10,12,132,1067,7.7,6,7,139
4,Nate Ilaoa,Hawaii,WAC,12,85,917,7.6,7,36,121
5,Jamaal Charles,Texas,Big 12,13,119,1035,7.8,13,14,133
...,...,...,...,...,...,...,...,...,...,...
276,Perry Patterson,Syracuse,Big East,11,72,-37,-0.5,3,,72
277,Zac Taylor,Nebraska,Big 12,12,76,-45,-0.6,1,1,77
278,Joey Lynch,Ball State,MAC,11,86,-106,-1.2,0,1,87
279,Clint Marks,Middle Tennessee State,Sun Belt,11,69,-111,-1.6,3,1,70
280,Tyler Palko,Pitt,Big East,11,70,-139,-2.0,6,,70

In [117]:
df_new.to_csv('./rushing/2005.csv')

### 2006

In [118]:
url='https://www.sports-reference.com/cfb/years/2006-rushing.html'
#Create a handle, page, to handle the contents of the website
page = requests.get(url)
#Store the contents of the website under doc
doc = lh.fromstring(page.content)
#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')

In [119]:
tr_elements = doc.xpath('//tr')
#Create empty list
col=[]
i=0
#For each row, store each first element (header) and an empty list
for t in tr_elements[1]:
    i+=1
    name=t.text_content()
    print ('%d:"%s"'%(i,name))
    col.append((name,[]))

1:"Rk"
2:"Player"
3:"School"
4:"Conf"
5:"G"
6:"Att"
7:"Yds"
8:"Avg"
9:"TD"
10:"Rec"
11:"Yds"
12:"Avg"
13:"TD"
14:"Plays"
15:"Yds"
16:"Avg"
17:"TD"

In [120]:
#Since out first row is the header, data is stored on the second row onwards
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 10, the //tr data is not from our table 
    if len(T)!=17:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [121]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)
df

,Rk,Player,School,Conf,G,Att,Yds,Avg,TD,Rec,Plays
0,Rk,Player,School,Conf,G,Att,Yds,Avg,TD,Rec,Plays
1,1,Anthony Alridge*,Houston,CUSA,14,95,1233,10.8,9,19,114
2,2,Rashard Mendenhall,Illinois,Big Ten,12,78,804,8.9,6,12,90
3,3,Felix Jones*,Arkansas,SEC,14,154,1275,7.5,9,15,169
4,4,Nate Ilaoa*,Hawaii,WAC,13,131,1827,9.2,18,67,198
...,...,...,...,...,...,...,...,...,...,...,...
250,239,Alex Brink,Washington State,Pac-10,12,78,12,0.2,3,1,79
251,240,Thaddeus Lewis,Duke,ACC,12,99,-74,-0.7,1,,99
252,Rk,Player,School,Conf,G,Att,Yds,Avg,TD,Rec,Plays
253,241,Chase Holbrook,New Mexico State,WAC,12,80,-78,-1.0,4,,80
254,242,Perry Patterson,Syracuse,Big East,12,82,-182,-2.2,1,1,83

In [122]:
df_new=df.drop(columns = 'Rk')

In [123]:
df_new=df_new.drop(0)
df_new

,Player,School,Conf,G,Att,Yds,Avg,TD,Rec,Plays
1,Anthony Alridge*,Houston,CUSA,14,95,1233,10.8,9,19,114
2,Rashard Mendenhall,Illinois,Big Ten,12,78,804,8.9,6,12,90
3,Felix Jones*,Arkansas,SEC,14,154,1275,7.5,9,15,169
4,Nate Ilaoa*,Hawaii,WAC,13,131,1827,9.2,18,67,198
5,Pat White*,West Virginia,Big East,12,165,1219,7.4,18,,165
...,...,...,...,...,...,...,...,...,...,...
250,Alex Brink,Washington State,Pac-10,12,78,12,0.2,3,1,79
251,Thaddeus Lewis,Duke,ACC,12,99,-74,-0.7,1,,99
252,Player,School,Conf,G,Att,Yds,Avg,TD,Rec,Plays
253,Chase Holbrook,New Mexico State,WAC,12,80,-78,-1.0,4,,80
254,Perry Patterson,Syracuse,Big East,12,82,-182,-2.2,1,1,83

In [124]:
df_new['Player'] = df_new['Player'].str.replace('*', '')
df_new = df_new[df_new['Player'] != 'Player']

df_new

<ipython-input-124-8c6faff15222>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df_new['Player'] = df_new['Player'].str.replace('*', '')

,Player,School,Conf,G,Att,Yds,Avg,TD,Rec,Plays
1,Anthony Alridge,Houston,CUSA,14,95,1233,10.8,9,19,114
2,Rashard Mendenhall,Illinois,Big Ten,12,78,804,8.9,6,12,90
3,Felix Jones,Arkansas,SEC,14,154,1275,7.5,9,15,169
4,Nate Ilaoa,Hawaii,WAC,13,131,1827,9.2,18,67,198
5,Pat White,West Virginia,Big East,12,165,1219,7.4,18,,165
...,...,...,...,...,...,...,...,...,...,...
249,Caleb Hanie,Colorado State,MWC,12,108,55,0.5,4,,108
250,Alex Brink,Washington State,Pac-10,12,78,12,0.2,3,1,79
251,Thaddeus Lewis,Duke,ACC,12,99,-74,-0.7,1,,99
253,Chase Holbrook,New Mexico State,WAC,12,80,-78,-1.0,4,,80
254,Perry Patterson,Syracuse,Big East,12,82,-182,-2.2,1,1,83

In [125]:
df_new.to_csv('./rushing/2006.csv')